* {
    font-family: Exo2-Medium, sans-serif;
}


@font-face {
    font-family: Exo2-Medium;
    src: local("Exo2-Medium"), url("./assets/fonts/Exo2-Medium.ttf") format("ttf");
}

@font-face {
    font-family: Exo2-SemiBold;
    src: local("Exo2-SemiBold"), url("./assets/fonts/Exo2-SemiBold.ttf") format("ttf");
}